/* General Rules */
* {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
}
/* Variables */
:root {
    /* Skip for now */
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Styling */
